* {
    background-color: rgb(26, 26, 26);
}
.display {
    color: white;
    text-align: center;
}

.logo {
    text-decoration: none;
    color: aliceblue;
}

.hide {
    display: none;

  }

#header {
    text-align: center;
    color: white;
}


.search-btn {
    color: rgb(228, 66, 17);
    background-color: white;
}

.clear-btn {
    color: rgb(228, 66, 17);
    background-color: white;
}

.search-field {
    background-color: grey;
}

label[for=search]{
    color: white;
    opacity: 30%;
}

.mdl-list__item-primary-content {
    justify-content: center;
}

#info-box {
    color: white;
    min-width: 50%;
    min-height: 60px;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

li {
    color: red;
}

#movielist li {
    justify-content: left;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-align: left;
}