* {
    background-color: black;
}
.display {
    color: white;
    text-align: center;
}

.hide {
    display: none;

  }

#header {
    text-align: center;
    color: white;
}

.search-btn {
    color: rgb(228, 66, 17);
    background-color: white;
}

.search-field {
    background-color: grey;
}